/* type styles  */
.heading{
    font-size: 75px;
    text-align: left;
    font-weight: 600;
    line-height:70pt;
}

.body-copy{
    font-size: 20px;

}
/* HEADER */

*{
    font-family: interstate, sans-serif;
    /* font-size: 18px; */
}

#header-div{
    background-color: #b81117;
    position: fixed;
    z-index: 1;
    top: 0;
}
#header-nav-div{
    display: grid;
    grid-template-columns: 11fr 1fr;
    padding: 25px 0px 20px 0px;
    background-color: black;
    color: white;
}

#header-logo{
    width: 30%;
    display:block;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

#main-nav-div{
    display: flex;
    justify-content: space-evenly;
}

/* BODY */

#body-div{
    position: relative;
    top: 135px;
}

.reg-margins{
    margin: 0px 150px 0px 150px;
}

#first-image{
    width: 100%;
    height:auto;
    display: block;
}

#helping-heading{
    margin-top: 20px;
    margin-bottom: 20px;
}

.intro-body{
    width: 100%;
}

#kid-image{
    width: 100%;
    height: auto;
}

.thirds-image{
    width: 100%;
    display:block;
    margin: auto;
}

#first-section{
    margin: 40px 0px 40px 0px;
}

#section-two{
    background-color: #b81117;
    padding: 20px 0px 20px 0px;
}


/* FOOTER */
#footer{
    padding: 20px;
    background-color: black;
    color: white;
    /* margin-top: 20px; */
}


#footer-image{
    width: 100%;
}

#footer-info{
    display: flex;
    justify-content: space-evenly;
}

/* #kid-image{
    
} */




/* overlay from https://www.w3schools.com/howto/howto_css_image_overlay_title.asp
.overlay {
    position: relative;
    top: 0;
    z-index: 1;
    background: white;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    color: red;
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }

  #heading-image{
    position: relative;
    width: 100%;
  } */
