/* type styles  */
.heading{
    font-size: 75px;
    text-align: left;
    font-weight: 600;
    line-height:70pt;
}

body {
    box-sizing: content-box; /* So the width will be 100% + 17px */
  }

.body-copy{
    font-size: 20px;
}

.thirds-heading{
    font-size: 35px;
    text-align: left;
    font-weight: 600;
    line-height:30pt;
    text-align: center;
    color: white;
    margin: 15px 0px 15px 0px;
    hyphens: none;
}

.body-copy-small{
    color: white;
}

.half-heading{
    font-size: 55px;
    text-align: left;
    font-weight: 600;
    line-height:50pt;
    text-align: center;
    margin-bottom: 20px;
    hyphens: none;
}


/* HEADER */

*{
    font-family: interstate, sans-serif;
    /* font-size: 18px; */
}

#header-div{
    background-color: #b81117;
    position: fixed;
    z-index: 1;
    top: 0;
}
#header-nav-div{
    display: grid;
    grid-template-columns: 11fr 1fr;
    padding: 25px 0px 20px 0px;
    background-color: black;
    color: white;
}

.header-links{
    color: white;
}

.header-links:hover{
    color: #989898;
}

#header-logo{
    width: 30%;
    display:block;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

#main-nav-div{
    display: flex;
    justify-content: space-evenly;
}

/* BODY */

#body-div{
    position: relative;
    top: 110px;
}

.reg-margins{
    margin: 0px 150px 0px 150px;
}

#first-image{
    width: 100%;
    height:auto;
    display: block;
}

#helping-heading{
    margin-top: 20px;
    margin-bottom: 20px;
}

.intro-body{
    width: 100%;
}

#kid-image{
    width: 100%;
    height: auto;
}

.thirds-image{
    width: 100%;
    display:block;
    margin: auto;
}

#first-section{
    margin: 40px 0px 40px 0px;
}

#section-two{
    background-color: #b81117;
    padding: 20px 0px 20px 0px;
}

.learn-more{
    margin: auto;
    color:white;
    display: block;
    width: 100%;
    text-align: center;
    /* not working */
}

#section-three{
    margin-top: 20px;
    margin-bottom: 20px;
}

#covid-picture{
        width: 100%;
}

/* FOOTER */
#footer{
    padding: 20px;
    background-color: black;
    color: white;
    /* margin-top: 20px; */
}

.footer-link{
    color: white;
}

#footer-image{
    width: 100%;
}

#footer-info{
    display: flex;
    justify-content: space-evenly; 
    /* not working also space on the right?*/
}




/* tablet  */
@media (max-width: 720px) {
    .reg-margins{
        margin: 0px 70px 0px 70px;
    }

    .heading{
        font-size: 65px;
        text-align: left;
        font-weight: 600;
        line-height:60pt;
    }
}

/* phone screen */
@media (max-width: 576px) {
    .reg-margins{
        margin: 0px 50px 0px 50px;
    }

    .heading{
        font-size: 55px;
        text-align: left;
        font-weight: 600;
        line-height:50pt;
    }
}
